import {When} from '@cucumber/cucumber';
import remark from 'remark';
import {{ projectName }} from '{{ packageName }}'

When('a node is processed', async function () {
  remark()
    .use({{ projectName }})
    .process(this.existingContent, (err, file) => {
      if (err) throw err;

      this.resultingContent = file.contents;
    });
});
